@import url("https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;500;600;700&display=swap");
body {
  margin-top: 0;
}

.cats-page-wrapper {
  font-family: "Baloo Tammudu 2", cursive;
}
.cats-page-wrapper header {
  background: #7bd7bb;
  background: -moz-linear-gradient(180deg, #7bd7bb 86%, rgba(255, 255, 255, 0) 95%);
  background: -webkit-linear-gradient(180deg, #7bd7bb 86%, rgba(255, 255, 255, 0) 95%);
  background: linear-gradient(180deg, #7bd7bb 86%, rgba(255, 255, 255, 0) 95%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7bd7bb",endColorstr="#ffffff",GradientType=1);
  border: none;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: none !important;
}
.cats-page-wrapper header .navbar-header {
  width: 1200px;
}
.cats-page-wrapper header .navbar-header .navbar-nav {
  margin: 0;
}
.cats-page-wrapper header .navbar-header .navbar-nav li {
  border: 1 px solid #2bbb92;
  transition: 0.5s;
  border-radius: 20px;
}
.cats-page-wrapper header .navbar-header .navbar-nav li:hover {
  background: #2bbb92;
}
.cats-page-wrapper header .navbar-header .navbar-nav li a {
  color: #ffffff;
  font-size: 20px;
}
.cats-page-wrapper .cats-page-main-content .row:nth-child(1) section {
  width: 100%;
}
.cats-page-wrapper .cats-page-main-content .row:nth-child(1) section .region-content {
  text-align: center;
  margin: 0 auto;
}
.cats-page-wrapper .cats-page-main-content .row:nth-child(1) section .region-content .alert-success, .cats-page-wrapper .cats-page-main-content .row:nth-child(1) section .region-content .alert-danger {
  margin: 0 auto;
  text-align: center;
  background: white;
  width: 300px;
  padding: 15px 35px 10px 10px;
  text-transform: uppercase;
  transition: 0.5s;
  margin-bottom: 20px;
}
.cats-page-wrapper .cats-page-main-content .row:nth-child(1) section .region-content .alert-success button, .cats-page-wrapper .cats-page-main-content .row:nth-child(1) section .region-content .alert-danger button {
  transition: 0.5s;
}
.cats-page-wrapper .cats-page-main-content .row:nth-child(1) section .region-content .alert-success {
  color: #33cb9f;
  border: 1px solid #33cb9f;
}
.cats-page-wrapper .cats-page-main-content .row:nth-child(1) section .region-content .alert-danger {
  color: #dc65a7;
  border: 1px solid #dc65a7;
}
.cats-page-wrapper .cats-page-main-content .row:nth-child(1) section .region-content .heading-text {
  margin: 40px 0 40px;
  line-height: 1;
  font-weight: 600;
  font-size: 42px;
  color: #33cb9f;
}
.cats-page-wrapper .cats-page-main-content .row:nth-child(1) section .region-content #form-system-messages {
  transition: 1s;
}
.cats-page-wrapper .cats-page-main-content .row:nth-child(1) section .region-content #form-system-messages .email-ajax-validation-alert {
  transition: 1s;
}
.cats-page-wrapper .cats-page-main-content .row:nth-child(1) section .region-content #form-system-messages .email-ajax-validation-alert .email-ajax-validation-alert-text {
  width: 300px;
  height: 47px;
  color: #dc65a7;
  border: 1px solid #dc65a7;
  border-radius: 3px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  transition: 1s;
}
.cats-page-wrapper .cats-page-main-content .row:nth-child(1) section .region-content .form-item-title label, .cats-page-wrapper .cats-page-main-content .row:nth-child(1) section .region-content .form-item-email label,
.cats-page-wrapper .cats-page-main-content .row:nth-child(1) section .region-content #ajax-wrapper .form-type-managed-file label {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  color: #33cb9f;
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 20px;
  line-height: 1;
}
.cats-page-wrapper .cats-page-main-content .row:nth-child(1) section .region-content .form-item-title label:after, .cats-page-wrapper .cats-page-main-content .row:nth-child(1) section .region-content .form-item-email label:after,
.cats-page-wrapper .cats-page-main-content .row:nth-child(1) section .region-content #ajax-wrapper .form-type-managed-file label:after {
  content: none;
}
.cats-page-wrapper .cats-page-main-content .row:nth-child(1) section .region-content .form-item-title .input-group, .cats-page-wrapper .cats-page-main-content .row:nth-child(1) section .region-content .form-item-email .input-group,
.cats-page-wrapper .cats-page-main-content .row:nth-child(1) section .region-content #ajax-wrapper .form-type-managed-file .input-group {
  display: flex;
  justify-content: center;
}
.cats-page-wrapper .cats-page-main-content .row:nth-child(1) section .region-content .form-item-title .input-group input, .cats-page-wrapper .cats-page-main-content .row:nth-child(1) section .region-content .form-item-email .input-group input,
.cats-page-wrapper .cats-page-main-content .row:nth-child(1) section .region-content #ajax-wrapper .form-type-managed-file .input-group input {
  margin: 0 auto;
  transition: 0.5s;
  width: 50%;
  border: 1px solid #33cb9f;
  background: rgba(248, 255, 252, 0.68);
}
.cats-page-wrapper .cats-page-main-content .row:nth-child(1) section .region-content .form-item-title .input-group input:hover, .cats-page-wrapper .cats-page-main-content .row:nth-child(1) section .region-content .form-item-title .input-group input:active, .cats-page-wrapper .cats-page-main-content .row:nth-child(1) section .region-content .form-item-title .input-group input:focus, .cats-page-wrapper .cats-page-main-content .row:nth-child(1) section .region-content .form-item-email .input-group input:hover, .cats-page-wrapper .cats-page-main-content .row:nth-child(1) section .region-content .form-item-email .input-group input:active, .cats-page-wrapper .cats-page-main-content .row:nth-child(1) section .region-content .form-item-email .input-group input:focus,
.cats-page-wrapper .cats-page-main-content .row:nth-child(1) section .region-content #ajax-wrapper .form-type-managed-file .input-group input:hover,
.cats-page-wrapper .cats-page-main-content .row:nth-child(1) section .region-content #ajax-wrapper .form-type-managed-file .input-group input:active,
.cats-page-wrapper .cats-page-main-content .row:nth-child(1) section .region-content #ajax-wrapper .form-type-managed-file .input-group input:focus {
  border-radius: 20px;
}
.cats-page-wrapper .cats-page-main-content .row:nth-child(1) section .region-content .form-item-title .input-group .input-group-addon, .cats-page-wrapper .cats-page-main-content .row:nth-child(1) section .region-content .form-item-email .input-group .input-group-addon,
.cats-page-wrapper .cats-page-main-content .row:nth-child(1) section .region-content #ajax-wrapper .form-type-managed-file .input-group .input-group-addon {
  display: none;
}
.cats-page-wrapper .cats-page-main-content .row:nth-child(1) section .region-content #ajax-wrapper .form-item .form-managed-file input {
  margin: 0 auto;
  transition: 0.5s;
  width: 100%;
  border: 1px solid #33cb9f;
  background: rgba(248, 255, 252, 0.68);
}
.cats-page-wrapper .cats-page-main-content .row:nth-child(1) section .region-content #ajax-wrapper .form-item .form-managed-file input:hover, .cats-page-wrapper .cats-page-main-content .row:nth-child(1) section .region-content #ajax-wrapper .form-item .form-managed-file input:active, .cats-page-wrapper .cats-page-main-content .row:nth-child(1) section .region-content #ajax-wrapper .form-item .form-managed-file input:focus {
  border-radius: 20px;
}
.cats-page-wrapper .cats-page-main-content .row:nth-child(1) section .region-content .form-group:last-child {
  width: 50%;
  margin: 0 auto;
}
.cats-page-wrapper .cats-page-main-content .row:nth-child(1) section .region-content .form-group:last-child label {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  color: #33cb9f;
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 15px;
  line-height: 1;
}
.cats-page-wrapper .cats-page-main-content .row:nth-child(1) section .region-content .form-group:last-child .form-managed-file .file {
  border: 1px solid #33cb9f;
  border-radius: 4px;
}
.cats-page-wrapper .cats-page-main-content .row:nth-child(1) section .region-content .form-group:last-child .form-managed-file .file span {
  background: rgba(248, 255, 252, 0.68);
  color: #000000;
  font-weight: 400;
}
.cats-page-wrapper .cats-page-main-content .row:nth-child(1) section .region-content .button {
  border: none;
  background: #33cb9f;
  padding: 6px 40px;
  transition: 0.5s;
  text-transform: uppercase;
  margin: 15px;
}
.cats-page-wrapper .cats-page-main-content .row:nth-child(1) section .region-content .button:hover {
  background: #2bbb92;
  border-radius: 20px;
}

.db-row-content {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
}
.db-row-content:nth-child(odd) {
  background: white;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #dffff1 2%, #dffff1 98%, rgba(255, 255, 255, 0) 100%);
}
.db-row-content .db-table-field-image img {
  height: 270px;
  width: 270px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}
.db-row-content .db-table-field-image img:hover {
  opacity: 0.7;
}
.db-row-content .db-table-entered-data {
  width: 40%;
  text-align: left;
}
.db-row-content .db-table-entered-data .db-table-field {
  font-size: 20px;
}

@media (max-width: 775px) {
  .cats-page-wrapper {
    font-family: "Baloo Tammudu 2", cursive;
  }
  .cats-page-wrapper header {
    background: none;
  }
  .cats-page-wrapper header .navbar-header .navbar-nav li {
    border: 1 px solid #2bbb92;
    border-collapse: separate;
    transition: 0.5s;
    border-radius: 20px;
    margin-top: 5px;
  }
  .cats-page-wrapper header .navbar-header .navbar-nav li:hover {
    background: #2bbb92;
  }
  .cats-page-wrapper header .navbar-header .navbar-nav li a {
    text-align: center;
    color: #2bbb92;
    font-size: 20px;
  }
  .cats-page-wrapper header .navbar-header .navbar-nav li a:hover {
    color: white;
  }
  .cats-page-wrapper .db-table-field-image img {
    height: 200px;
    width: 200px;
  }
  .cats-page-wrapper .db-table-entered-data .db-table-field {
    font-size: 15px;
  }
}
@media (max-width: 525px) {
  .cats-page-wrapper .db-row-content {
    flex-direction: column;
  }
  .cats-page-wrapper .db-table-entered-data {
    margin-top: 10px;
    width: 90%;
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
