@import "mixins";
@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;500;600;700&display=swap');

body{
  margin-top: 0;
}
.cats-page-wrapper {
  font-family: 'Baloo Tammudu 2', cursive;
  header{
    @include clr-bg-bradient;
    border: none;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: none!important;
    .navbar-header{
      width: 1200px;
      .navbar-nav{
        margin: 0;
        li{
          border: 1 px solid $clr-cyan-hover;
          transition: 0.5s;
          border-radius: 20px;
          &:hover{
            background: $clr-cyan-hover;
          }
          a{
            color: $clr-white;
            font-size: 20px;
          }
        }
      }
    }
  }
  .cats-page-main-content{
    .row:nth-child(1){
      section{
        width: 100%;
        .region-content{
          text-align: center;
          margin: 0 auto;
          .alert-success, .alert-danger{
            margin: 0 auto;
            text-align: center;
            background: white;
            width: 300px;
            padding: 15px 35px 10px 10px;
            text-transform: uppercase;
            transition: 0.5s;
            margin-bottom: 20px;
            button{
              transition: 0.5s;
            }
          }
          .alert-success{
            color: $clr-cyan;
            border: 1px solid $clr-cyan;
          }
          .alert-danger{
            color: $clr-dark-pink;
            border: 1px solid $clr-dark-pink;
          }
          .heading-text{
            margin: 40px 0 40px;
            line-height: 1;
            font-weight: 600;
            font-size: 42px;
            color: $clr-cyan;
          }
          #form-system-messages{
            transition: 1s;
            .email-ajax-validation-alert{
              transition: 1s;
              .email-ajax-validation-alert-text{
                width: 300px;
                height: 47px;
                color: $clr-dark-pink;
                border: 1px solid $clr-dark-pink;
                border-radius: 3px;
                margin: 0 auto;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 20px;
                transition: 1s;
              }
            }
          }
          .form-item-title, .form-item-email,
          #ajax-wrapper  .form-type-managed-file{
            @include input-heading-text;
          }
          #ajax-wrapper{
            .form-item{
              .form-managed-file{
                input{
                  margin: 0 auto;
                  transition: 0.5s;
                  width: 100%;
                  border: 1px solid $clr-cyan;
                  background: rgba(248, 255, 252, 0.68);
                  &:hover, &:active, &:focus{
                    border-radius: 20px;
                  }
                }
              }
            }
          }
          .form-group:last-child{
            width: 50%;
            margin: 0 auto;
            label{
              font-family: Arial, Helvetica, sans-serif;
              width: 100%;
              color: $clr-cyan;
              font-size: 25px;
              font-weight: 400;
              margin-bottom: 15px;
              line-height: 1;
            }
            .form-managed-file{
              .file{
                border: 1px solid $clr-cyan;
                border-radius: 4px;
                span{
                  background: rgba(248, 255, 252, 0.68);
                  color: $clr-black;
                  font-weight: 400;
                }
              }
            }
          }
          .button{
            border: none;
            background: $clr-cyan;
            padding: 6px 40px;
            transition: 0.5s;
            text-transform: uppercase;
            margin: 15px;
            &:hover{
              background: $clr-cyan-hover;
              border-radius: 20px;
            }
          }
        }
      }
    }
  }
}
.db-row-content{
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  &:nth-child(odd){
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(223,255,241,1) 2%, rgba(223,255,241,1) 98%, rgba(255,255,255,0) 100%);
  }
  .db-table-field-image{
    img{
      height: 270px;
      width: 270px;
      border-radius: 50%;
      cursor: pointer;
      transition: 0.3s;
      &:hover{
        opacity: 0.7;
      }
    }
  }
  .db-table-entered-data{
    width: 40%;
    text-align: left;
    .db-table-field{
      font-size: 20px;
    }
  }
}

@media (max-width: 775px) {
  .cats-page-wrapper {
    font-family: 'Baloo Tammudu 2', cursive;
    header {
      background: none;
      .navbar-header{
        .navbar-nav{
          li{
            border: 1 px solid $clr-cyan-hover;
            border-collapse: separate;
            transition: 0.5s;
            border-radius: 20px;
            margin-top: 5px;
            &:hover{
              background: $clr-cyan-hover;
            }
            a{
              text-align: center;
              color: $clr-cyan-hover;
              font-size: 20px;
              &:hover{
                color: white;
              }
            }
          }
        }
      }
    }
    .db-table-field-image{
      img{
        height: 200px;
        width: 200px;
      }
    }
    .db-table-entered-data{
      .db-table-field{
        font-size: 15px;
      }
    }
  }
}

@media (max-width: 525px) {
  .cats-page-wrapper {
    .db-row-content{
      flex-direction: column;
    }
    .db-table-entered-data{
      margin-top: 10px;
      width: 90%;
      text-align: center;
    }
  }
}